body
    // position: relative
    overflow-x: hidden
header
    background-color: white
    z-index: 2
    position: -webkit-sticky
    position: sticky
    top: 0
    h1
        text-align: center
    .nav
        display: flex
        justify-content: center
        align-items: center
        ul
            display: flex
            justify-content: center
            list-style-type: none
            align-items: center
            .linav
                display: flex
                margin: 10px
                align-items: center
            .linav:hover 
                color: red 

        #butBlanc
            width: 5px
            height: 20px
            background-color: white
            margin-right: 5px
        #butNoir
            width: 5px
            height: 20px
            background-color: black
            margin-right: 5px
        .connexion
            border-radius: 5px

