header
    h1
        text-align: center
    .nav
        display: flex
        justify-content: center
        align-items: center
        ul
            display: flex
            justify-content: center
            list-style-type: none
            align-items: center
            li
                display: flex
                margin: 10px
                align-items: center
        #butBlanc
            width: 5px
            height: 20px
            background-color: white
            margin-right: 5px
        #butNoir
            width: 5px
            height: 20px
            background-color: black
            margin-right: 5px

