.section5
    
.carou
    
   
    overflow: hidden
    display: flex
    flex-wrap: nowrap
    margin: 0 auto
    transition: margin 1s
    position: relative
    .ptitCarou
       



    
    
.divimgs5

    width: 100%
    transition: ease 1s
    flex: 0 0 auto
    img
        transform: scale(1.2)
    



p.promo
    border-radius: 50%
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    margin: 0px 0px 0px 0px
    
.txtBarre
    text-decoration: line-through
.btnCarou
    background-color: #acc3ca