.section5
    overflow: hidden
    // padding-left: 40%
    // padding-right: 40%
.carou
    // width: 50%
    // position: fixed
    // position: absolute
    // width: 140px
   
    
    display: flex
    flex-wrap: nowrap
    margin: 0 auto
    transition: margin 1s
    position: relative
    .ptitCarou
        // overflow-x: hidden
        max-width: 80%



    
    
.divimgs5
//     width: 174.69px
//     height: 235.09px
    // width: 140px
    // overflow: hidden
    // flex:0 0 auto
    width: 100%
    transition: ease 1s
    flex: 0 0 auto
    // overflow: hidden
    img
        transform: scale(1.2)
    



p.promo
    border-radius: 50%
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    margin: 0px 0px 0px 0px
    
.txtBarre
    text-decoration: line-through

    ///////////////// 


    // overflow-x: hidden
    
    